*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.navli {
  float:right;
}

.navli a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 20px;
  transition: all .2s ease-in-out;
}

.navli a:hover{
  transform: scale(1.1);
}

.topback{
	   position:relative;
    justify-content: center;
    align-items: center;
    display: flex;
    height:600px;
    width: 100%; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(238, 238, 238);
}
.topback img{
	height: 100%;
	width:1150px;

}

.abouttxt{
	display:column;
	width: 50%;
	margin:0 auto;
	margin-top: 30px
}
.title{
	font-size: 4rem;
    font-weight: 500;
    line-height: 76.8px;
    color: #231f20;
    margin-bottom: 40px;
}
.infop{
	font-size: 30px;
	font-family: ,sans-serif;
	margin-bottom: 20px;

}
a{
	text-decoration: none;
	color:#13C0C3;
}
#lasth2{
	margin-bottom: 0;
}
.infop1{
	line-height: 1.5rem;
	letter-spacing: 1px;
	color: rgb(110, 110, 110);
	font-weight: 500;
	font-size: 20px;
}
#bottomppl{
	margin-top: -20px;
}